Documentation/
samples/
sound/
*.cmd
*.mod
*.old
.tmp_*
.tmp_*/
*.order
*.mod.c
Module.symvers
System.map
*.d
*.a
usr/gen_init_cpio
vmlinux
scripts/kconfig/
*.cpio
arch/alpha/
arch/avr32/
arch/blackfin/
arch/cris/
arch/frv/
arch/h8300/
arch/ia64/
arch/m32r/
arch/m68k/
arch/m68knommu/
arch/microblaze/
arch/mips/
arch/mn10300/
arch/parisc/
arch/powerpc/
arch/s390/
arch/score/
arch/sh/
arch/sparc/
arch/um/
arch/x86/
arch/xtensa/
